<div class="top-navbar">
  <div class="logo-brand">
    <a class="full-logo" routerLink="/">
      <img src="assets/images/logo.svg" />
    </a>
    <a class="min-logo" routerLink="/">
      <img src="assets/images/logo-mini.svg" />
    </a>
  </div>
  <div class="search-bar">
    <input
      class="search-input"
      type="text"
      placeholder="Search The Products"
      id="search-icon"
    />
  </div>
  <div class="profile">
    <div class="nav-profile">
      <img src="assets/images/face1.jpg" alt="" />
      Jhon
    </div>
  </div>
  <div class="hamburger">
    <label for="nav_toggle">
      <img src="assets/images/icons-menu.png" alt="" />
    </label>
  </div>
</div>
<input type="checkbox" id="nav_toggle" class="toggle-check" />
<div class="topbar">
  <p>Menu 1</p>
  <p>Menu 2</p>
  <p>Menu 3</p>
  <p>Menu 4</p>
</div>
