<div class="dashboard-main">
  <div class="full-img">
    <img src="assets/images/banner-bg.jpg" alt="" />
  </div>
  <div class="container-fluid">
   <div class="row">
    <div class="col-12 item-heading">
     <h3>Featured Items</h3>
    </div> 
   </div>
  </div>
  <div class="dashboard-items">
    <div class="item-card">
      <img src="assets/images/item-01.jpg" alt="">
    </div>
    <div class="item-card">
      <img src="assets/images/item-02.jpg" alt="">
    </div>
    <div class="item-card">
      <img src="assets/images/item-03.jpg" alt="">
    </div>
    <div class="item-card">
      <img src="assets/images/item-04.jpg" alt="">
    </div>
  </div>

  <div class="footer">

  </div>
</div>
